/* #17a2b8 is the color of navbar */
* {
    margin: 0;
    padding: 0;
}

nav {
    color: white;
    width: 100%;
    justify-content: space-between;
}

.flex-row {
    display: flex;
    flex-direction: row;
}

ul {
    justify-content: space-between;
    align-items: center;
}

.navbar a {
    text-decoration: none;
    color: white;
}

a:hover {
    text-decoration: none;
}

li a {
    color: white;
    font-weight: 500;
}

li a:last-child {
    margin-right: 1vw;
}

#nav-items {
    padding-left: 65vw;
}

#nav-header {
    width: 30vw;
}

#nav-header a:hover {
    color: #b84517;
}