* {
    margin: 0;
    padding: 0;
}

html {
    overflow: auto;
    scroll-behavior: smooth;
}

button a, button a:hover {
    text-decoration: none;
    color: black;
}

#app {
    height: 100vh;
}

nav-bar {
    position: absolute;
}

.container {
    margin: 10vh auto 5vh;
    height: 60vh;
    width: 100vw;
    overflow-y: auto;
    padding: 0;
}

.flex-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.flex-column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.question {
    border: 1px solid gray;
    margin-bottom: 4vh;
    width: 100%;
    padding: 2rem;
    justify-content: space-between;
}

.question-text {
    width: 48vw;
    margin-left: -3vw;
    overflow: auto;
}

.arrow-container {
    margin-right: 3rem;
    width: 10vw;
}

.arrow-container span {
    text-align: center;
    font-size: 1rem;
}

.arrow-container button, .clear-question {
    background: transparent;
    border-radius: 2px;
    border: none;
    cursor: pointer;
}

.arrow-container button:hover,
.clear-question:hover {
    background: #eee;
}

.arrow-container svg {
    height: 18px;
    width: 18px;
    margin: 1px;
}

div > input:first-child {
    height: 10vh;
    width: 65vw;
    margin-right: auto;
    margin-left: auto;
    padding-left: 1vw;
}

input[value="Submit"] {
    margin-top: 1vh;
    height: 2rem;
    width: 4.5rem;
}

.labId {
    justify-content: flex-start;
    width: 3vw;
    margin-bottom: 1vh;
}

.link {
    border-bottom: 1px solid gray;
    width: 100%;
    height: 5vh;
}

#links {
    border: 1px solid black;
    justify-content: flex-start;
}

#linkJump {
    margin-top: 1vh;
}

#linkJump button {
    padding: 0.5rem;
}

#top {
    position: fixed;
    bottom: 0;
    right: 0;
    height: 3vw;
    width: 5vw;
}
