#app {
    height: 100vh;
}

nav-bar {
    position: absolute;
}

.container {
    border: 1px solid black;
    margin-top: 10vh;
    margin-bottom: 5vh;
    height: 50vh;
    overflow-y: auto;
    padding: 0;
}

.flex-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.flex-column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

div > input:first-child {
    height: 10vh;
    width: 65vw;
    margin-right: auto;
    margin-left: auto;
}

input[value="Submit"] {
    margin-top: 1vh;
    height: 2rem;
    width: 4.5rem;
}

.question {
    border-bottom: 1px solid gray;
    height: 2rem;
    width: 100%;
    padding: 3rem;
}


.arrow-container {
    display: inline-flex;
    flex-direction: column;
    margin-right: 1rem;
}

.arrow-container span {
    text-align: center;
    font-size: 1rem;
}

.arrow-container button {
    background: transparent;
    border-radius: 2px;
    border: none;
    cursor: pointer;
}

.arrow-container button:hover {
    background: #eee;
}

.arrow-container svg {
    height: 24px;
    width: 24px;
    margin: 1px;
}